<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>v-if&v-on</title>
  </head>

  <body>
    <div id="app"></div>
    <script>
   Vue.createApp({
     data(){
       return {
         count:0,
         isShowInfos:false,
         infos:'已经点到底了，请重新点'
       }
     },
     methods:{
       plus(){
         this.count+=1;
       },
       minus(){
         console.log(123);
         if(this.count<=0){
           this.isShowInfos = true;
         }else{
          this.count -= 1;
         }
       },
       reset(){
         this.isShowInfos = false;
         this.conut = 0;
       }
     },
     template:`
     <div v-if="isShowInfos" >{{infos}}</div>
     <button v-if="isShowInfos" v-on:click='reset'>Reset</button>
     <div v-if="!isShowInfos">{{count}}</div>
    <button v-if="!isShowInfos" v-on:click='plus'>plus</button>&nbsp;
    <button v-if="!isShowInfos" v-on:click='minus'>minus</button>
     `
   }).mount('#app')
  </script>
  </body>

</html>