<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板中使用条件判断v-if&v-show</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="app"></div>
    <script>
      const app = Vue.createApp({
        data(){
          return {
            isShow:false,
            message:"React",
            styleObj:{'color':'red','background-color':'green','border':'1px solid pink'}
          }
        },
        methods:{
          isShowClick(){
            console.log(123);
            this.isShow = this.isShow?false:true;
          },
          messageClick(){
             this.message = this.message === 'React'?'Vue':'React';
          }
        },
        template:`
         <div v-show="isShow" @click="isShowClick">你好</div>
         <div v-show="!isShow" @click="isShowClick">你不好</div>
         <div v-if="message === 'React'" @click='messageClick'>React</div>
         <div v-if="message === 'Vue'" @click='messageClick'>Vue</div>
         <div :style="styleObj">what is your name?</div>
         <div :class="isShow?'one':'two'">class的绑定</div>
        `
      });
      app.mount('#app');
  </script>
    <style>
      .one{
        color: yellowgreen;
      }
      .two{
        color: violet;
      }
  </style>
  </body>

</html>